$primaryColor: hsl(226, 100%, 11%);

.App {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Oswald, sans-serif;
  color: #fff;
}
header {
  background-color: $primaryColor;
  padding: 20px 0;
}

.main {
  display: flex;
  justify-content: center;
  height: calc(100vh - 100px);
  align-items: center;
}

.main-inner {
  width: 800px;
}
.success-page {
  border: 1px solid $primaryColor;
  color: $primaryColor;
  padding: 2rem;

  .success-text {
    margin: 1.2rem 0;
    color: $primaryColor;
  }

  .success-payment-id {
    color: $primaryColor;
    .span {
      color: green;
      display: block;
      letter-spacing: 1px;
    }
  }
}

.form-wrapper {
  width: 600px;
  border: 1px solid $primaryColor;
  padding: 1rem;
}
.ctrl-btn-wrapper {
  display: flex;
  justify-content: center;
  padding: 0.54rem;
  align-items: center;
}

.btn {
  margin-left: 10px;
  padding: 0.5rem 1rem;
  background-color: $primaryColor;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.error {
  background-color: rgb(192, 149, 149);
  color: red;
  padding: 0.5rem;
}

button + button {
  margin-left: 10px;
}
